<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{site.root_url}}/styles/site.css">
  
  </head>


  <body>
  

<div class="container">

<div class="page-header">
  <h1>Holly Warne <small>Sports Massage</small></h1>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.root_url}}/">Home</a></li>
        <li><a href="{{ site.root_url}}/services">Services</a></li>
        <li><a href="{{ site.root_url}}/prices">Prices</a></li>
        <li><a href="{{ site.root_url}}/testimonials">Testimonials</a></li>
        <li><a href="{{ site.root_url}}/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h2>{{page.title}}</h2>

{{"/services" | absolute_url}}


  <div class="row">
  <div class="col-lg-8">
    {{ content }}
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
  Contact <br>
   <a href="mailto:hollyWarne@gmail.com">
      <img src="{{ "/assets/email.png" | absolute_url }}" style="width:40px">
    </a>
    <a href="https://faceook.com/hollysMassagePage">
      <img src="{{ "/assets/facebook.png" | absolute_url }}" style="width:40px">
    </a>
    <a href="https://twitter.com/twitter">
    <img src="{{ "/assets/twitter.png" | absolute_url }}" style="width:40px">
    </a>

  </div>
  </body>


</div>
  
</html>
